body{
    overflow: hidden;
}

.container-fluid {
    font-family: 'Alice', serif;
}

#welcome{
    background-color: #98D2EB;
}

#ask{
    background-color: #EB999C;
}

#answer{
    background-color: #EBCD99;
    font-size: x-large;
    height: 3rem;
}

#image{
    background-color: #EBCD99;
    height: 100vh;
}
